name: Elixir CI

on:
  workflow_call:
    inputs:
      elixir:
        required: true
        type: string
      otp:
        required: true
        type: string

env:
  MIX_ENV: test

concurrency:
  group: ${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  deps:
    name: Dependencies
    runs-on: ubuntu-latest
    env:
      MIX_ENV: test
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup
        uses: erlef/setup-beam@v1
        with:
          otp-version: ${{inputs.otp}}
          elixir-version: ${{inputs.elixir}}

      - name: Retrieve Cached Dependencies
        uses: actions/cache@v3
        id: mix-cache
        with:
          path: |
            deps
            _build
            priv/plts
          key: ${{ runner.os }}-${{ inputs.otp }}-${{ inputs.elixir }}-${{ hashFiles('mix.lock') }}

      - name: Install Dependencies
        if: steps.mix-cache.outputs.cache-hit != 'true'
        run: |
          mkdir -p priv/plts
          mix local.rebar --force
          mix local.hex --force
          mix deps.get

      - name: Compile
        if: steps.mix-cache.outputs.cache-hit != 'true'
        run: |
          mix deps.compile

      - name: Check Unused Dependencies
        run: |
          mix deps.unlock --check-unused

      - name: Audit Dependencies
        run: |
          mix hex.audit

  static_code_analysis:
    name: Static Code Analysis
    needs: deps
    runs-on: ubuntu-latest
    env:
      MIX_ENV: test
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup
        uses: erlef/setup-beam@v1
        with:
          otp-version: ${{inputs.otp}}
          elixir-version: ${{inputs.elixir}}

      - name: Retrieve Cached Dependencies
        uses: actions/cache@v3
        id: mix-cache
        with:
          path: |
            deps
            _build
            priv/plts
          key: ${{ runner.os }}-${{ inputs.otp }}-${{ inputs.elixir }}-${{ hashFiles('mix.lock') }}

      - name: Check Code Format
        run: mix format --check-formatted

      - name: Run Credo
        run: mix credo

      - name: Run Sobelow
        run: mix sobelow --config

      - name: Check compile warnings
        run: mix compile --warnings-as-errors

      - name: Run gradient
        run: mix gradient

  eslint:
    name: "ESLint check"
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - name: Retrieve Cached Dependencies
        uses: actions/cache@v3
        id: node-cache
        with:
          path: |
            assets/node_modules
          key: ${{ runner.os }}-${{ hashFiles('assets/package-lock.json') }}
      - uses: actions/checkout@v3
      - name: Install modules
        env:
          NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
        working-directory: ./assets
        run: npm install
      - name: Run ESLint
        working-directory: ./assets
        run: npx eslint .
